
@{
    ViewBag.Title = "Decline";
}

<h2>You have declined a contract</h2>
<img src="https://i.pinimg.com/564x/59/6c/26/596c263bbc9992b1d5861a20d4ba8581.jpg" class="img-fluid">
<h4>Refusing to pay for a contract has left you all on your own. Being unprotected in the Shades has led to your gruesome death...</h4>

