
@{
    ViewBag.Title = "Decline";
}

<h2>No, thank you!</h2>
<img src="https://www.meme-arsenal.com/memes/42c80cebb25d4a10906a1bcc1cdf0a5e.jpg" class="img-fluid">
<h4>After giving it some thought, you decided on declining his generous offer.</h4>
<a class="btn btn-primary" href="/Home/Encounter" role="button">Continue your journey</a>
