
@{
    ViewBag.Title = "Accept";
}

<h2>You gave him what he wanted</h2>
<img src="https://iiif.wellcomecollection.org/image/V0039986/full/300,/0/default.jpg" class="img-fluid">
<p>You have @ViewBag.PlayerMoneyAmount AM$</p>
<a class="btn btn-primary" href="/Home/Encounter" role="button">Continue your journey</a>

