
@{
    ViewBag.Title = "Decline";
}

<h2>Your attempt to leave was fruitless</h2>
<img src="https://i.pinimg.com/564x/59/6c/26/596c263bbc9992b1d5861a20d4ba8581.jpg" class="img-fluid">
<h4>No matter what you do you cant escape the feel of constant chase. Your hindered sanity has eventually led you to your impending doom and slow, inevitable death. Sucks to be you.</h4>

