
@{
    ViewBag.Title = "Accept";
}

<h2>You bought some beer</h2>
<img src="https://i.pinimg.com/564x/da/ac/20/daac20d7653ea2ea43d899d21a3b1b30.jpg" class="img-fluid">
<h4>Fingers crossed for no hangover tomorrow</h4>
<p>You have @ViewBag.PlayerMoneyAmount</p>
<a class="btn btn-primary" href="/Home/Encounter" role="button">Next</a>

