
@{
    ViewBag.Title = "Decline";
}

<h2>You are not in the mood for beer</h2>
<img src="https://i.pinimg.com/564x/11/77/fa/1177fa2ab3ce0c0a7c04df254aa3e9b2.jpg" class="img-fluid">
<h4>The good day to be sober. I think..</h4>
<a class="btn btn-primary" href="/Home/Encounter" role="button">Continue your journey</a>
