
@{
    ViewBag.Title = "Failure";
}

<h2>You can't carry more</h2>
<img src="https://i.pinimg.com/564x/1d/43/8a/1d438a9fbd4e8127e90e79a0ca0573b3.jpg" class="img-fluid">
<h4>You only got two hands. Two hands for two beers!</h4>
<a class="btn btn-primary" href="/Home/Encounter" role="button">Continue your journey</a>
