
@{
    ViewBag.Title = "Accept";
}

<h2>You gave him what he wanted</h2>
<img src="https://i.pinimg.com/564x/95/83/dc/9583dcb0d9eb11b68dd8032db1b953f9.jpg" class="img-fluid">
<h4>You have concluded that your life is worth more than your wallet</h4>
<p>You have @ViewBag.PlayerMoneyAmount AM$</p>
<a class="btn btn-primary" href="/Home/Encounter" role="button">Continue your journey</a>


