
@{
    ViewBag.Title = "Decline";
}

<h2>You tried to refuse</h2>
<img src="https://i.pinimg.com/564x/59/6c/26/596c263bbc9992b1d5861a20d4ba8581.jpg" class="img-fluid">
<h4>Even though you decided on resisting, there's little you could do against a dagger. Oops...</h4>

