
@{
    ViewBag.Title = "Failure";
}

<div>
    <h2>Oops!</h2>
    <img src="https://www.thailandredcat.com/wp-content/uploads/No-Money-No-Honey-1200.jpg" style="width:90%; height:90%">
    <h4>Your gold reserve wasn't big enough for 'charity'</h4>
</div>

